
* {

  box-sizing: border-box;
}
em, strong {
  background-color: #B2D6FF;
  display: inline;             /* This is the default for em and strong */
}

.subtitle{
  font-style: italic;
  display: flex;
}
.subtitle p{
  padding: 30px 0px 5px 5px;
}

h2 {
  background-color: #DDE0E3;
  padding: 10px 0 20px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #5D6063;
}


#para3{
   background-color: #5995DA;
}

.menu-parent {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #92a8d1;
}

.menu{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu:hover{
  background-color:  red;
}
.footer{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.footer li {
  border-radius: 25px;
  background: #73AD21;
  padding: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap

  }

  .menu-parent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap

  }
  .footer {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
  }

.footer li{
  margin-bottom: 10px;
  text-align: center;


}

}

@media only screen and (min-width: 961px) {

  .menu-parent{
    width: 50%;
    margin: 0 auto;
     display: flex;
  }

  .menu {
    width: 50%;
     margin: 0 auto;
   }



}
