
em, strong {
  background-color: #B2D6FF;
  display: inline;             /* This is the default for em and strong */
}

.subtitle{
  font-style: italic;
}

h2 {
  background-color: #DDE0E3;    /* Light gray */
  padding: 10px 0 20px 10px;  /* Top  Right  Bottom  Left */
  margin-bottom: 10px;
  border-bottom: 1px solid #5D6063;
}

#para3{
   background-color: #5995DA;
}

.menu-parent {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu:hover{
  background-color:  #04AA6D;
}
